In [2]:
# Imports
from tira.third_party_integrations import ensure_pyterrier_is_loaded, persist_and_normalize_run
from tira.rest_api_client import Client
import pyterrier as pt

In [3]:
# Create a REST client to the TIRA platform for retrieving the pre-indexed data.
ensure_pyterrier_is_loaded()
tira = Client()

PyTerrier 0.10.0 has loaded Terrier 5.8 (built by craigm on 2023-11-01 18:05) and terrier-helper 0.0.8

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

In [4]:
# The dataset: the union of the IR Anthology and the ACL Anthology
# This line creates an IRDSDataset object and registers it under the name provided as an argument.
pt_dataset = pt.get_dataset('irds:ir-lab-sose-2024/ir-acl-anthology-20240504-training')

In [20]:
# This assumes we have execited the ../baseline-retrieval-system/baseline-retrieval-system.ipynb notebook before.
bm25 = pt.io.read_results('../runs/base/run.txt')
qe = pt.io.read_results('../runs/qe/run.txt')
qe_2 = pt.io.read_results('../runs/qe_2/run.txt')
qe_3 = pt.io.read_results('../runs/qe_3/run.txt')
qe_4 = pt.io.read_results('../runs/qe_4/run.txt')
qe_gpt_cot = pt.io.read_results('../runs/qe_gpt_cot/run.txt')
qe_gpt_sq_fs = pt.io.read_results('../runs/qe_gpt_sq_fs/run.txt')
qe_gpt_sq_fz = pt.io.read_results('../runs/qe_gpt_sq_fz/run.txt')

pt.Experiment(
    [bm25, qe, qe_2, qe_3, qe_4, qe_gpt_cot, qe_gpt_sq_fs, qe_gpt_sq_fz],
    names=['BM25','QE', 'QE_2', 'QE_3', 'QE_4', 'QE_GPT_COT', 'QE_GPT_SQ_FS','QE_GPT_SQ_FZ'],
    topics=pt_dataset.get_topics(),
    qrels=pt_dataset.get_qrels(),
    eval_metrics=["ndcg_cut_5", "ndcg_cut.10", "recip_rank", "recall_1000"]
)

There are multiple query fields available: ('text', 'title', 'query', 'description', 'narrative'). To use with pyterrier, provide variant or modify dataframe to add query column.

           name  ndcg_cut_5  ndcg_cut.10  recip_rank  recall_1000
0          BM25    0.393650     0.374041    0.579877     0.825376
1            QE    0.381675     0.378220    0.571535     0.833643
2          QE_2    0.383947     0.379452    0.565090     0.831915
3          QE_3    0.341725     0.333132    0.556066     0.825062
4          QE_4    0.381893     0.376701    0.572761     0.832052
5    QE_GPT_COT    0.320591     0.305605    0.524838     0.825698
6  QE_GPT_SQ_FS    0.398788     0.377988    0.615292     0.835660
7  QE_GPT_SQ_FZ    0.397821     0.364157    0.644563     0.829955