In [1]:
# Imports
from tira.third_party_integrations import ensure_pyterrier_is_loaded, persist_and_normalize_run
from tira.rest_api_client import Client
import pyterrier as pt

In [2]:
# Create a REST client to the TIRA platform for retrieving the pre-indexed data.
ensure_pyterrier_is_loaded()
tira = Client()

PyTerrier 0.10.0 has loaded Terrier 5.8 (built by craigm on 2023-11-01 18:05) and terrier-helper 0.0.8

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

In [3]:
# The dataset: the union of the IR Anthology and the ACL Anthology
# This line creates an IRDSDataset object and registers it under the name provided as an argument.
pt_dataset = pt.get_dataset('irds:ir-lab-sose-2024/ir-acl-anthology-20240504-training')

In [6]:
# This assumes we have execited the ../baseline-retrieval-system/baseline-retrieval-system.ipynb notebook before.
bm25 = pt.io.read_results('../runs/base/run.txt')

qe = pt.io.read_results('../runs/qe/run.txt')
qe_2 = pt.io.read_results('../runs/qe_2/run.txt')
qe_3 = pt.io.read_results('../runs/qe_3/run.txt')
qe_4 = pt.io.read_results('../runs/qe_4/run.txt')

qe_gpt_cot = pt.io.read_results('../runs/qe_gpt_cot/run.txt')
qe_gpt_sq_fs = pt.io.read_results('../runs/qe_gpt_sq_fs/run.txt')
qe_gpt_sq_fz = pt.io.read_results('../runs/qe_gpt_sq_fz/run.txt')

qe_llama_cot = pt.io.read_results('../runs/llama_cot/run.txt')
qe_llama_fs = pt.io.read_results('../runs/llama_fs/run.txt')
qe_llama_zs = pt.io.read_results('../runs/llama_zs/run.txt')

qe_flan_cot = pt.io.read_results('../runs/flan_cot/run.txt')
qe_flan_fs = pt.io.read_results('../runs/flan_fs/run.txt')
qe_flan_zs = pt.io.read_results('../runs/flan_zs/run.txt')

pt.Experiment(
    [bm25, qe, qe_2, qe_3, qe_4, qe_gpt_cot, qe_gpt_sq_fs, qe_gpt_sq_fz, qe_llama_cot, qe_llama_fs, qe_llama_zs, qe_flan_cot, qe_flan_fs, qe_flan_zs],
    names=['BM25','QE_Bo1', 'QE_KL', 'QE_RM3', 'QE_Bo1_2x_WORDS', 'GPT_COT', 'GPT_FS','GPT_ZS', 'LLAMA_COT', 'LLAMA_FS', 'LLAMA_ZS', 'FLAN_COT', 'FLAN_FS', 'FLAN_ZS'],
    topics=pt_dataset.get_topics(),
    qrels=pt_dataset.get_qrels(),
    eval_metrics=["ndcg_cut_5", "ndcg_cut.10", "recip_rank", "recall_1000"]
)

There are multiple query fields available: ('text', 'title', 'query', 'description', 'narrative'). To use with pyterrier, provide variant or modify dataframe to add query column.

               name  ndcg_cut_5  ndcg_cut.10  recip_rank  recall_1000
0              BM25    0.393650     0.374041    0.579877     0.825376
1            QE_Bo1    0.381675     0.378220    0.571535     0.833643
2             QE_KL    0.383947     0.379452    0.565090     0.831915
3            QE_RM3    0.341725     0.333132    0.556066     0.825062
4   QE_Bo1_2x_WORDS    0.381893     0.376701    0.572761     0.832052
5           GPT_COT    0.320591     0.305605    0.524838     0.825698
6            GPT_FS    0.398788     0.377988    0.615292     0.835660
7            GPT_ZS    0.397821     0.364157    0.644563     0.829955
8         LLAMA_COT    0.285551     0.253630    0.469709     0.783448
9          LLAMA_FS    0.380488     0.368856    0.608088     0.837392
10         LLAMA_ZS    0.377338     0.346550    0.588296     0.839125
11         FLAN_COT    0.353227     0.357316    0.593031     0.831033
12          FLAN_FS    0.374224     0.358760    0.540278     0.833705
13          FLAN_ZS    0.364216     0.358128    0.553245     0.824227